<!DOCTYPE html>
<html>
    <head>
        <%= render 'layouts/rails_defaults' %>
        <title><%= content_for?(:title) ? yield(:title) : "MJ Utilities" %></title>
    </head>
    <body>
        <header>
            <%= render 'layouts/navigation' %>
        </header>
        <main role="main">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </main>
    </body>
</html>
